label,
h5 {
    color: var(--color-stroke);
}

input,
textarea {
    background-color: var(--color-main) !important;
}

.button-new {
    background-color: var(--color-button);
    color: var(--color-button-text);
}

.button-new:hover {
    background-color: var(--color-button-text);
    color: var(--color-button);
    border: 1px solid var(--color-button);
}

.button-delete {
    background-color: var(--color-tertiary);
    color: var(--color-button-text);
}

.button-delete:hover {
    background-color: var(--color-button-text);
    color: var(--color-tertiary);
    border: 1px solid var(--color-tertiary);
}

.button-edit {
    background-color: var(--color-button-text);
    color: var(--color-button);
    border: 1px solid var(--color-button);
}

.button-edit:hover {
    background-color: var(--color-button);
    color: var(--color-button-text);
}