@media (max-width: 768px) {
    .alert {
        display: none !important;
    }
}

#cartSummary {
    background-color: var(--color-secondary-light);
    border-color: var(--color-secondary-light);
    color: var(--color-paragraph);
}