@media (max-width: 768px) {
    .alert {
        display: none !important;
    }
}

#cartSummary {
    background-color: var(--color-secondary-light);
    border-color: var(--color-secondary-light);
    color: var(--color-paragraph);
}

.button-cart {
    background-color: var(--color-button);
    color: var(--color-main);
}

.button-cart:hover {
    background-color: var(--color-main);
    color: var(--color-button);
}