@media (max-width: 1200px) {
    #list-products {
        flex: 0 0 50%;
        /* Kolon genişliği: %50 (1/2) */
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    #list-products {
        flex: 0 0 100%;
        /* Kolon genişliği: %50 (1/2) */
        max-width: 100%;
    }

    .margin-product {
        margin-top: 20px;
        padding-top: 20px;
    }

    .list-products {
        margin: 0px;
        padding: 0px;
        width: 100% !important;
        max-width: 100% !important;
        padding-left: 0px;
    }
}

#product-info {
    background-color: var(--color-secondary-light) !important;
}

.card {
    background-color: var(--color-card-background) !important;
    border-color: var(--color-card-background);
}

.product-name {
    color: var(--color-headline) !important;
}

.product-price {
    color: var(--color-paragraph) !important;
}

button {
    background-color: var(--color-button) !important;
    color: var(--color-main);
}

button:hover {
    background-color: var(--color-main) !important;
    color: var(--color-button);
}

.hide-details {
    background-color: var(--color-tertiary) !important;
}

.product-description {
    color: var(--color-paragraph);
}