@media (max-width: 768px) {
    .container {
        width: 100% !important;
        max-width: 100% !important;
    }
}

.navbar {
    background-color: var(--color-background) !important;
    color: var(--color-headline) !important;
}

a {
    background-color: var(--color-background) !important;
    color: var(--color-headline) !important;
}

#hamburger {}