@media (max-width: 768px) {
    .container {
        width: 100% !important;
        max-width: 100% !important;
    }
}

.navbar {
    background-color: var(--color-background) !important;
    color: var(--color-headline) !important;
}

a {
    background-color: var(--color-background) !important;
    color: var(--color-headline) !important;
}

.nav-link {
    display: inline-block;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-highlight);
    transition: transform 0.1s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.nav-link::after {
    transform-origin: bottom right;
}

.nav-link:hover::after {
    transform-origin: bottom left;
}