@media (max-width: 768px) {
    .container {
        width: 100% !important;
        max-width: 100% !important;
        padding-left: 0px;
        margin-top: -15px !important;
    }

    #cartSummary {
        display: none;
    }

    .btn-group {
        margin-left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 40px;
    }

    .alert-warning {
        margin-left: 12px;
        margin-right: 12px;
    }
}

.bottom-paginator {
    background-color: var(--color-button);
    color: var(--color-main);
}

.bottom-paginator.active {
    background-color: var(--color-main);
    color: var(--color-button);
}

.container {
    background-color: var(--color-background);
}

.alert-field {
    background-color: var(--color-secondary-light);
}