.alert-cart {
    background-color: var(--color-card-background);
}

.btn-link {
    color: var(--color-tertiary);
}

th {
    background-color: var(--color-card-background);
    color: var(--color-headline);
}

td {
    background-color: var(--color-card-background);
    color: var(--color-headline);
}

.button-remove {
    background-color: var(--color-tertiary);
    color: var(--color-main);
}

.input-quantity {
    background-color: var(--color-background);
    color: var(--color-headline);
}

.button-shopping,
.button-payment {
    background-color: var(--color-button);
    color: var(--color-main);
}

.button-shopping:hover,
.button-payment:hover {
    background-color: var(--color-main);
    color: var(--color-button);
}